@font-face {
    font-family: "Easley";
    src: url("/font/Easley-Regular.otf");
}

:root {
    /* bg */
    --color1: #f2f2f2;
    /* link */
    --color2: #11000f;
    /* link mouseover */
    --color3: #2068b5;
    /* text */
    --color4: #394308;
}

body {
    font-family: 'Easley', Courier, monospace;
    font-size: 22px;
    margin: 0px;
    color: var(--color2);
    background-color: var(--color1);
    /* filter: blur(0.4px); */
}

h1 {
    display: inline-block;
    font-weight: normal;
    font-size: 2em;
    margin: 0px;
    margin-bottom: 60px;
}

h2 {
    font-weight: normal;
    font-size: 4em;
    margin-top: 10px;
}

h3 {
    font-size: 4em;
    margin: 0px;
}


p {
    font-weight: normal;
    font-size: 1em;
}

small {
    font-size: 0.5em;
}

a {
    
    color: var(--color1);
    background-color: var(--color2);
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    transition: background-color 0.2s;
    /* filter: blur(0.5px); */
}

a:hover {
    background-color: var(--color3);
    color: var(--color1);
}

a img {
    background-color: var(--color2);
}

a img:hover {
    background-color: var(--color3);
}

span {
    display: inline-block;
}

i {
    font-size: 2em;
}

select {
    font-size: inherit;
    font-family: 'Easley', Courier, monospace;
    padding: 20px 20px;
}

#inline-logo {
    display: inline-block;
    position: relative;
    max-width: 120px;
}

#bottom-logo {
    display: block;
    position: fixed;
    right: 20px;
    bottom: 10px;
    max-width: 120px;
}

#top-logo {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50%;
    max-width: 120px;
}

.container {
    display: block;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding: 3vw;
}

@media only screen and (max-width: 720px){
    body {
        margin-left: 3vw;
    }

    h1 {
        font-weight: normal;
        font-size: 1em;
        margin: 0px;
        margin-bottom: 15px;
    }
    
    h2 {
        font-weight: lighter;
        font-size: 2em;
        margin-top: 10px;
    }

    h3 {
        font-weight: lighter;
        font-size: 2em;
        margin-top: 10px;
    }

    small {
        font-size: 1em;
    }

    #bottom-logo {
        max-width: 80px;
    }
}